<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>#</string>
		<string>Main</string>
		<string>cell</string>
		<string>grid</string>
		<string>board</string>
		<string>theme</string>
		<string>app</string>
		<string>gameOver</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Documents:Git</string>
	</array>
</dict>
</plist>
